---
import General from '../layouts/General.astro';
import BlogsList from '../components/BlogsList.astro';
import TagList from '../components/TagList.astro';
const allPosts = await Astro.glob('./posts/*.md');
---

<General pageTitle="Blog" navPage="Blog">
	<h1>Sección Blog</h1>
    <p>A continuación una lista de blogs</p>
    <BlogsList blogsList={allPosts} />
    <TagList/>
</General>

