---
const { selected } = Astro.props;
const pages = ['home', 'about', 'blog'];
---
<div class="menu-list hide fx-cont">
    { pages.map((page)=>{
        return (
            <a 
                href={page === 'home'?'/' : '/'+page} 
                class={page === selected.toLowerCase() && 'active'}
            >
                {page.toUpperCase()}
            </a>
            )
        })
    }
</div>

<style>
    .menu-list {
        position: absolute;
        top: 100%;
        flex-direction: column;
        background-color: rgba(52, 47, 39, 0.7);
        padding: 5px;
        border-radius: 5px;
        a {
            text-decoration: none;
            font-weight: bold;
            color: orange;
        }
        .active {
            color: green;
        }
    }
    .hide {
        display: none;
    }

</style>